fastapi
uvicorn
torch
torchvision
torchaudio==2.0.2
Pillow
numpy==1.23.4
boto3
mysql-connector-python
sqlalchemy
python-dotenv
python-multipart
pytest
httpx
lightly
apscheduler
transformers
huggingface